/* div#left, div#center{
	height:93vh;
}
div#left{
	float:left;
	width:20vw;
}
div#center{
	width:80vw;
	margin-left:20vw;
} */

body{
	/* font-size:13px; */
}
.btn{
	font-size: inherit;
}

td textarea {
    border: 0px;
    width: 100%;
}

.table td{
	font-family: "Lucida Console", Monaco, monospace;
}

.caption{
	font-weight: normal;
}

/* override bootstrap */
/* .nav>li>a {
    padding: 6px 8px; 10px 15px;
	text-align: center;
} */

.nav>li>span {
    padding: 10px 15px; /* same as bootstrap's */
	text-align: right;
	display:block;  /* necessary for aligning with other li's */
}

.nav>li>span {
    padding-left: 0px;
}


/*
This defines a flex container; inline or block depending on the given value.
It enables a flex context for all its direct children.
*/
div#main{
	display: flex; /* or inline-flex */
	flex-direction: column;
	height:100vh;
    padding:.5em;
}

.note{
	font-size: smaller;
}

div#address{
	flex: 0 0 auto;
}

div#tables{
	flex: 0 0 auto;
}

div#table_content{
	flex: 1 1 auto;
	overflow: auto; /* for the inner table */
}

td.numeric, th.numeric{
	text-align:right;
}

div#footer{
	flex: 0 0 auto;
	display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

div#footer > .table-options{
    flex: 0 0 auto;
}

div#footer > div.messages{
    flex: 1 1 auto;
}

div#main > div:not(:first-child) {
    margin-top:0.3em;
}

div#table_content th {
    vertical-align: text-top !important;
}

div#table_content thead {
	background-color: #d9edf7;
}

div#table_content th .col_info{
	display:block;
	white-space: nowrap;
}

form div{
	display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

div#address form label{
	flex: 0 0 auto;
}

div#address form input[type="text"]{
	flex: 1 1 auto;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div#address form button{
	flex: 0 0 auto;
}

.form-control {
	font-size: inherit;
}

.pk, .fk, .uc, .cc, .idx{
	border-radius: 5px;
	font-size: small;
	padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    margin: .2em;
}

.fk{
	background-color: #FFAD33; /* yellow-like */
}
.uc{
	background-color: #4CAF50; /* green like */
}
.pk{
	background-color: #C2391A; /* red like */
}
.idx{
	background-color: #a08568; /* brown-like */
}
.cc{
	background-color: #862cf0; /* purple-like */
}

.null-val, .bin-type{
	color: lightgray;
}

/* animations */
/* The animation code */
@keyframes warningAnimation {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

div.working{
	animation-name: warningAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

div.win-popup {
	background-color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40vw;
    height: 50vh;
    overflow: auto;
    box-shadow: -5px 5px 12px 0px grey;
    z-index: 100;
}

table.short_table_info{
	display: inline;
}

table.short_table_info td{
	text-align: center;
}

/* css arrows. See
https://css-tricks.com/snippets/css/css-triangle/
(animation at the bottom)
*/

/* tested with <div>s (ok), but <span>s have problems (in any case the display is inline block, see below)*/
.uarr, .darr, .larr, .rarr {
	display: inline-block;
	width: 0;
	height: 0;
	border-color: #337ab7; /* match bootstrap btn primary. Change if needed*/
}

.uarr, .darr {
	border-left: 1ex solid transparent !important;
	border-right: 1ex solid transparent !important;
}

.larr, .rarr {
	border-top: 1ex solid transparent !important;
	border-bottom: 1ex solid transparent !important;
}

.uarr {
	border-bottom-width: 1ex;
	border-bottom-style: solid;
}

.darr {
	border-top-width: 1ex;
	border-top-style: solid;
}

.larr {
	border-right-width: 1ex;
 	border-right-style: solid;
}

.rarr {
	border-left-width: 1ex;
	border-left-style: solid;
}

button .rarr, button .larr{
	border-color: white;
}

.alert{
	margin-bottom: 0px;
}